/* google font poppins */
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #E5E5E5;

}
/* top-man */
.top-man{
    background-color: white;
    width: 870px;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
    
   
    
}
.top-block{
    display: flex;
    justify-content: center;
    
}

/* h1 style */
.top-titale{
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
}

/* man style */
.onwer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.man{
    display: flex;
    align-items: center;
    
    

}
.name{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding: 10px;

}
.man img{
    width: 56px;
    height: 56px;
}
hr{
    border: 1px solid #D1D1D1 ;
    margin-bottom: 35px;
}
/* man style end */

/* top-blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    
}
.blog{
    display: flex;

}

.blog .pic img{
    width: 177px; ;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-titale{
    font-size: 20px;
    width: 164px;
    margin-top: 0;
    margin-bottom: 0;

    
}

.writer{
    color: #9F9F9F;
    font-size: 16px;
    margin-top: 5px;
}
.writer a{
    text-decoration: none;
    color: #562EFF ;
    font-size: 16px;

}
/* section2 start */
.section2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.back{
background-color: white;
width: 870px;
padding: 30px 30px 30px 30px;
border-radius: 5px;
}
/* courses style */

.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;

}
.course{
    width:226px;
    padding: 10px 10px 10px 10px;
    border: rgb(231, 241, 241) 1px solid;
    box-shadow: gainsboro 5px 5px 5px 5px;
    border-radius: 10px;
}

.course .course-pic img{
    width: 224px; 
    height: 104px;

}
.course-info-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-info-1 span{
    color: gray;
}
.fa-star{
    font-size: 13px;
}
.fa-star.filled{
    color: gold;
}
.fa-star.emty{
    color: rgb(199, 185, 185);
}

.course-time{
    background-color: rgb(241, 194, 194);
    color:rgb(240, 84, 84) ;
    border-radius: 50px;
    
}
.course-time p{
    margin: 0;
    padding: 2px 10px;
}


/*midia qoaris */

/* mobile device */

@media (max-width:688px) {
    .onwer{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        padding-left: 150px;
        background-color: peru;
    
    }
    .top-titale{
        padding-left: 150px;
        
    
    }
    
}